<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{site.title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Nunito" rel="stylesheet">        <link rel="stylesheet" href="/css/style.css">
        <script src="https://use.fontawesome.com/985f89fbe4.js"></script>
    </head>
    <body>
        <main>
            {{ content }}
        </main>
        <script>
         window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
         ga('create','UA-68057-5','auto');
         ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>
